<div class="text-center login-content">
  <h4>
    Connexion
  </h4>
  <form class="form-signin" role="form" name="loginForm" (ngSubmit)="login()">
    <div class="alert alert-danger" *ngIf="errorMessage">
      <p>{{errorMessage}}</p>
    </div>
    <label for="username" class="sr-only">Email</label>
    <input type="text" id="username" class="form-control" name="username" [(ngModel)]="userLogin.username"
           placeholder="Username" autofocus="autofocus">

    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" class="form-control" name="password" [(ngModel)]="userLogin.password"
           placeholder="Password">
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-outline-primary btn-block" type="submit">
                <span>
                    <b> Sign in </b>
                </span>
    </button>
    <a href="#" class="password-lost float-left"><b>Mot de passe oublié ?</b></a>
    <br>
  </form>
</div>
