<div class="content">
  <h3>Liste des utilisateurs</h3>
  <hr>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of userList" (click)="getUserDetails(user)" class="pointer">
      <td>{{user.id}}</td>
      <td>{{user.nom}}</td>
      <td>{{user.prenom}}</td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="userDetails">
  <app-user-details [user]="userDetails"></app-user-details>
</div>
